.login-box{
    width: 25vw;
    min-width: 290px;
    height: 50vh;
    min-height: 400px;
    border: 0.2px solid #00000010;
}

@media (max-width: 768px) {
    .login-left{
        display: none;
    }
}